.body {
  background-color: white;
}
.card-header {
  background-color: #38be76;
}
.card {
  color: #fff;
}

.card-body {
  background-color: #5ad091;
}

.btn-default {
  background-color: #6189c9;
  color: white;
}

.btn-warning {
  background-color: #ffbe4b;
  color: white;
}

.btn-danger {
  background-color: #ff6d4b;
  color: white;
}
